//- html skeleton in pug file
doctype html 
html
    head 
        style
            include ../static/style.css 
    body 
        nav#navbar
            ul
                div#logo 
                    img(src="static/img/2.png")
                    | HDA
                li #[a(href="/") Home] 
                li #[a(href="/") About] 
                li #[a(href="/") Services] 
                li #[a(href="/") Class info] 
                li #[a(href="/") Contact us]

        section#introSection
            div Welcome to Nrutya's dance academy 
            div.small Eat Dance Sleep Repeat

        section#missionSection
            h2 Our mission

            div.card
                h3 Dance perfection
                div.card-box
                    div.card-img
                        img(src="static/img/1.png")

                    div.card-content
                        p This is the best dance academy of the universe

            div.card
                h3 Dance the way you like
                div.card-box
                    div.card-img
                        img(src="static/img/1.png")

                    div.card-content
                        p This is the best dance academy of the universe

            div.card
                h3 expert  teaching
                div.card-box
                    div.card-img
                        img(src="static/img/1.png")

                    div.card-content
                        p This is the best dance academy of the universe

        section#sponsorSection
            h1 Our Sponsors

            div#sponsor
                img(src="/static/img/micro.png", alt="sponsor image", class = "spimage")
                img(src="/static/img/apple.png", alt="sponsor image", class = "apple")
                img(src="/static/img/skype.png", alt="sponsor image", class = "skype")
                img(src="/static/img/hp.png", alt="sponsor image", class = "spimage")

        footer#footer
            | Copyright @2019 NrutyaDanceAcademy.com | All rights reserved


        script 
            include ../static/index.js